:root {
	--green: #1abc9c;
	--blue: #3a546d;
	--dark-blue: #2c3e50;
}

.main-header {
	background-color: var(--dark-blue);
}

a {
	color: currentColor;
	text-decoration: none;
}

.hero,
.about {
	background-color: var(--green);
}

/* DEBUG */

footer [class*='col']:not(.row)::before{
	content: 'content';
	display: block;
	border: 2px solid currentColor;
	border-radius: 5px;
	padding: 30px;
}

.page-footer {
	background-color: var(--blue);
}

.footer-copy {
	background-color: var(--dark-blue);
}

.hero-logo{
    width: 260px;
}

.star-dark{
    color: var(--dark-blue);
}

/* .star::before{
    background-color: white;
    height: 4px;
    width: 20%;
    display: flex;
} */

.port-icon img{
    width: 100%;
    border-radius: 20px;
}

.send-button-bg{
    background-color: var(--green);
}

.form-section textarea{
    height: 200px;
    border: none;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
}

.form-section input{
    border: none;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
}